body {
    font-family: 'Arial', sans-serif;

    background-color: #e6dae1;
    color: #333;
}
a {
    color: #0077cc;
}
header {
    padding: 20px;
    text-align: center;
}
nav {
    margin-bottom: 20px;
}

h2 {
    color: aquamarine;
}
p {
    color: green;
}

